# Configs and such
config.json
src/up-world-calendar.json
src/functions.js
deploy-commands.js

# Outdated
commands
src/functions.js

# Node crap
node_modules

# Enmap data
data
archive/*

# Misc
Code Backup.txt
base_template
BattleBot.code-workspace
.vscode